.fs-default {
  font-size: 1rem; }

.fs-large {
  font-size: 1.5rem; }

.fs-small {
  font-size: 0.7rem; }

.fs-middle {
  font-size: 1.2rem; }

.bg-info {
  background: #909399 !important;
  color: white !important; }
  .bg-info:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-info:active {
    opacity: 1; }

.bg-info-hollow {
  border: 1px solid #909399 !important;
  color: #909399 !important; }
  .bg-info-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-info-hollow:active {
    opacity: 1; }

.bg-primary {
  background: #409eff !important;
  color: white !important; }
  .bg-primary:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-primary:active {
    opacity: 1; }

.bg-primary-hollow {
  border: 1px solid #409eff !important;
  color: #409eff !important; }
  .bg-primary-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-primary-hollow:active {
    opacity: 1; }

.bg-success {
  background: #67c23a !important;
  color: white !important; }
  .bg-success:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-success:active {
    opacity: 1; }

.bg-success-hollow {
  border: 1px solid #67c23a !important;
  color: #67c23a !important; }
  .bg-success-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-success-hollow:active {
    opacity: 1; }

.bg-warning {
  background: #e6a23c !important;
  color: white !important; }
  .bg-warning:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-warning:active {
    opacity: 1; }

.bg-warning-hollow {
  border: 1px solid #e6a23c !important;
  color: #e6a23c !important; }
  .bg-warning-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-warning-hollow:active {
    opacity: 1; }

.bg-danger {
  background: #f56c6c !important;
  color: white !important; }
  .bg-danger:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-danger:active {
    opacity: 1; }

.bg-danger-hollow {
  border: 1px solid #f56c6c !important;
  color: #f56c6c !important; }
  .bg-danger-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-danger-hollow:active {
    opacity: 1; }

.bg-base {
  background: #606266 !important;
  color: white !important; }
  .bg-base:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-base:active {
    opacity: 1; }

.bg-base-hollow {
  border: 1px solid #606266 !important;
  color: #606266 !important; }
  .bg-base-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-base-hollow:active {
    opacity: 1; }

.bg-base-4 {
  background: rgba(96, 98, 102, 0.4) !important;
  color: white !important; }
  .bg-base-4:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-base-4:active {
    opacity: 1; }

.bg-base-4-hollow {
  border: 1px solid rgba(96, 98, 102, 0.4) !important;
  color: rgba(96, 98, 102, 0.4) !important; }
  .bg-base-4-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-base-4-hollow:active {
    opacity: 1; }

.bg-mask {
  background: rgba(0, 0, 0, 0.1) !important;
  color: white !important; }
  .bg-mask:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-mask:active {
    opacity: 1; }

.bg-mask-hollow {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.1) !important; }
  .bg-mask-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-mask-hollow:active {
    opacity: 1; }

.bg-blue {
  background: dodgerblue !important;
  color: white !important; }
  .bg-blue:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-blue:active {
    opacity: 1; }

.bg-blue-hollow {
  border: 1px solid dodgerblue !important;
  color: dodgerblue !important; }
  .bg-blue-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-blue-hollow:active {
    opacity: 1; }

.bg-deepBlue {
  background: #1c86ee !important;
  color: white !important; }
  .bg-deepBlue:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-deepBlue:active {
    opacity: 1; }

.bg-deepBlue-hollow {
  border: 1px solid #1c86ee !important;
  color: #1c86ee !important; }
  .bg-deepBlue-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-deepBlue-hollow:active {
    opacity: 1; }

.bg-skyBlue {
  background: #2a8ee1 !important;
  color: white !important; }
  .bg-skyBlue:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-skyBlue:active {
    opacity: 1; }

.bg-skyBlue-hollow {
  border: 1px solid #2a8ee1 !important;
  color: #2a8ee1 !important; }
  .bg-skyBlue-hollow:hover {
    cursor: pointer;
    opacity: 0.7; }
  .bg-skyBlue-hollow:active {
    opacity: 1; }

.borRadius-round {
  border-radius: 45px !important;
  width: "" !important;
  height: "" !important; }

.borRadius-round {
  border-radius: 45px !important; }

.borRadius-plain {
  border-radius: 5px !important;
  width: "" !important;
  height: "" !important; }

.borRadius-plain {
  border-radius: 5px !important; }

.borRadius-circle {
  border-radius: 50% !important;
  width: 4em !important;
  height: 4em !important; }

.borRadius-circle {
  border-radius: 50% !important; }

.borRadius-semicircle-right {
  border-radius: 0px 15px 15px 0px !important;
  width: "" !important;
  height: "" !important; }

.borRadius-semicircle-right {
  border-radius: 0px 15px 15px 0px !important; }

.borRadius-semicircle-left {
  border-radius: 15px 0px 0px 15px !important;
  width: "" !important;
  height: "" !important; }

.borRadius-semicircle-left {
  border-radius: 15px 0px 0px 15px !important; }

.h-disabled {
  background: #606266 !important;
  opacity: 0.2; }
  .h-disabled:hover {
    cursor: wait !important;
    opacity: 0.2; }
  .h-disabled:active {
    border: solid 1.5px rgba(96, 98, 102, 0.4) !important; }

.fade-enter,
.animation-leave-to {
  opacity: 0; }

.fade-enter-active,
.animation-leave-active {
  transition: opacity 0.618s; }

.h-loading {
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1em; }

.h-card {
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 8px silver;
  margin: 0 auto;
  transition: all .8s;
  background: white;
  border-radius: 5px; }
  .h-card .title {
    font-size: 2em;
    padding: .8em 0; }

.h-hover {
  border: solid 1px silver; }
  .h-hover:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px silver !important; }

.h-notification {
  top: 0;
  width: 15em;
  padding: 1em;
  font-size: 1em;
  position: fixed;
  z-index: 999999;
  user-select: none;
  border-radius: 5px;
  word-break: break-all;
  background-color: white;
  box-shadow: 0px 0px 8px silver; }
  .h-notification .box {
    display: flex;
    align-items: center; }
    .h-notification .box .svg-tips {
      width: 1.4em;
      font-size: 1.5em; }
    .h-notification .box .content {
      flex: 1;
      margin-left: 0.5em; }
  .h-notification .svg-quit {
    position: absolute;
    right: .2em;
    top: .2em;
    padding: 2px;
    font-size: 1em; }
    .h-notification .svg-quit:hover {
      cursor: pointer; }

.fade-right-enter-active {
  animation: fade-right-in .8s; }

.fade-right-leave-active {
  animation: fade-right-in .8s reverse; }

@keyframes fade-right-in {
  from {
    transform: translateX(400px); }
  to {
    transform: translateX(0px); } }
.h-btn {
  padding: .5em 1em;
  background: unset;
  border: solid 1.5px rgba(96, 98, 102, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: all .8s;
  color: #606266; }
  .h-btn:hover {
    color: dodgerblue;
    background-color: rgba(30, 144, 255, 0.2);
    transition: all .3s; }
  .h-btn:active {
    border-color: #1c86ee; }

.h-tag {
  display: inline-block;
  padding: 0 .5em;
  font-size: .8em;
  color: white; }

.h-tag-hollow {
  display: inline-block;
  padding: 0 .5em;
  font-size: .8em; }

.tag {
  width: 100%;
  line-height: 2em;
  display: flex; }
  .tag .iconfont {
    margin-right: 5px; }

/*# sourceMappingURL=index.css.map */
