@media screen and (min-width: 960px){
    html,body{
        font-size: 11px !important;
        //min-width: 1440px;
        //min-height: 900px;
    }
}
@media screen and (min-width: 1152px){
    html,body{
        font-size: 13px !important;
        //min-width: 1440px;
        //min-height: 900px;
    }
}

@media screen and (min-width: 1309px){
    html,body{
        font-size: 14.5px !important;
        //min-width: 1440px;
        //min-height: 900px;
    }
}

@media screen and (min-width: 1440px){
    html,body{
        font-size: 16px !important;
    }
}
@media screen and (min-width: 1600px){
    html,body{
        font-size: 17px !important;
    }
}
@media screen and (min-width: 1800px){
    html,body{
        font-size: 18px !important;
    }
}
@media screen and (min-width: 1920px){
    html,body{
        font-size: 18.5px !important;
    }
}
@media screen and (min-width: 2160px){
    html,body{
        font-size: 24px !important;
    }
}