@import "border-style";
@import "text-style";
@import "adaptation-style";
@import "header-style";
@import "main-style";
@import "scrollbar-style";
@import 'base-style';

// router active effect
.router-link-active {
  color: rgba(42, 142, 225, 1);
  border-bottom: rgba(42, 142, 225, 1) solid 2px;
}


pre code.hljs {
  border-radius: 15px !important;
  padding: 60px 20px 20px 30px !important;
}

pre {
  position: relative;
}

pre:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FF5F56;
  position: absolute;
  left: 20px;
  top: 15px;
}

pre:after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FFBD2E;
  position: absolute;
  left: 40px;
  top: 15px;
}

pre code:before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #27C93F;
  position: absolute;
  left: 60px;
  top: 15px;
}


.hover-blue {
  &:hover {
    color: #409eff !important;
  }
}

// container
.h-container {
  min-height: 1000px;
  background-color: rgba(0, 0, 0, 0.05);
}


// section
.h-section {
  width: 100vw;
  margin: 0 auto;
  min-width: 1440px;

  .section-main-page {
    width: 100%;
    height: 100vh;
    position: relative;
  }
}

.baseBackgroundImg {
  background-repeat: no-repeat;
  background-position: center/cover;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.baseStyle {
  width: 100%;
  height: auto;

  .backgroundImg {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1440px;

    .title {
      font-size: 4em;
      color: white;
      text-shadow: 5px 2px 8px black;
    }
  }
}

.file {
  width: 100%;
  height: 100%;

  .file-wrapper {
    width: 75%;
    margin: 20px auto;
  }
}

.log {
  .log-wrapper {
    width: 75%;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;

    .log-item {
      margin: 20px 0;

      .year {
        .year-text {
          font-size: 3em;
          text-align: center;
          background-color: #409eff;
          color: white;
        }


        .log-info {
          display: flex;
          font-size: 1.2em;
          background-color: rgba(222, 225, 230, 1);
          //margin-top: 20px;
          padding: 20px 0 20px 40px;
          position: relative;
          align-items: center;

          .github-update {
            margin-right: 10px;
          }

          .title {
            flex-grow: 1;
          }

          & > span {
            margin: 0 10px;
          }

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #42b983;
            position: absolute;
            left: 15px;
          }
        }
      }
    }
  }
}

.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .bg-blur {
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    z-index: -3;
    height: 105%;
    width: 105%;
    filter: blur(0px);
    background-image: url("../../assets/img/login.jpg");
    background-repeat: no-repeat;
    background-position: center/cover;
    background-size: 100% 100%;
    //filter: invert(1) hue-rotate(270deg);
  }

  .login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .box {
      width: 40%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      text-shadow: 5px 0px 10px black;
      font-size: 1.3em;
      transition: .8s;

      &:hover {
        width: 100%;
        height: 100vh;
        //transform: rotate(360deg);
        background-color: rgba(64, 158, 255, 0.2);
      }

      & > div {
        margin-top: 20px;
      }

      button {
        margin-left: 20px;
      }

      input {
        outline: none;
        border-radius: 45px;
        border: none;
        padding: 5px 20px;
        transition: .8s;
        font-size: .8em;

        &:focus {
          outline: solid 2px #409eff;
        }
      }
    }
  }
}

.about {
  background-color: rgba(0, 0, 0, 0.05);

  .about-box {
    width: 75%;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;

    .self {
    }
  }
}

.achieve {
  p img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .copy-wrapper{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    align-items: center;
    color: white;

    .copyTips{
      transition: .2s;
      opacity: 0;
      font-size: .8em;
    }
    .copyBtn {
      font-size: 1.2em;
      padding: 5px 10px;
      line-height: 15px;
      cursor: pointer;
      transition: .8s;
      border-radius: 5px;

      &:hover {
        color: #409eff;
      }
    }
  }

  .h-article-sidebar {
    overflow-x: hidden;

    .title-active {
      color: #409eff !important;
      background-color: rgba(119, 119, 119, 0.2);
    }

    .sidebar-wrapper {
      .list {
        font-size: 2em;
        border-bottom: 1px solid;
        margin-bottom: 10px;

        &:hover {
          background: none;
        }
      }

      div {
        a {
          color: inherit;
        }

        line-height: 2em;

        &:hover {
          background-color: #E0E0E0;
        }
      }

      .h1 {
        font-size: 1.4em;
      }

      .h2 {
        font-size: 1.2em;
        padding-left: 14px;
      }

      .h3 {
        font-size: 1em;
        padding-left: 34px;
      }
    }
  }
}
















