.h-main {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  user-select: text;
  position: relative;


  .center {
    width: 100%;
    height: auto;
    position: relative;

    .h-sidebar-wrapper {
      .h-sidebar {
        width: 22%;
        height: auto;
        right: 5em;
        top: 10px;
        z-index: 99;
        position: absolute;

        .h-sidebar-item:first-of-type {
          margin-top: 0;
        }

        .h-sidebar-item {
          width: 100%;
          background-color: white;
          box-shadow: 0px 0px 15px rgba(7, 17, 27, 0.06);
          border-radius: 15px;
          margin-top: 20px;

          & > div {
            padding: 10px 0;
          }

          .title {
            padding: 10px 20px;
            border-bottom: dashed 1px silver;
            background-color: rgba(73, 136, 253, 0.5);
          }

          .img {
            width: 100%;
            text-align: center;

            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              z-index: 999;
              transition: .8s;
              position: relative;
              border: 1px dashed black;
              padding: 5px;

              &:hover {
                cursor: pointer;
                transform: rotate(360deg);
              }
            }
          }

          .name {
            width: 100%;
            text-align: center;
            font-size: 1.4em;
            color: #409eff;
          }

          .motto {
            font-size: .9em;
            text-align: center;
            font-family: "Adobe 仿宋 Std R", serif;
            letter-spacing: 2px;
            line-height: 25px;
          }

          .info-wrapper {
            border-top: dashed 1px silver;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            div {
              text-align: center;
              margin-top: 5px;
            }
          }
        }
      }
    }

    .h-content-wrapper {
      .h-content {
        width: 65%;
        height: auto;
        margin-left: 5em;

        .load-more-tips {
          text-align: center;
          margin-bottom: 20px;
        }

        .load-more-article {
          width: 100%;
          line-height: 2em;
          margin-bottom: 20px;
          cursor: pointer;
          background-color: white;
          border: solid 1px slategray;
          border-radius: 5px;
          transition: .5s;

          &:hover {
            background-color: #409eff;
            color: white;
            opacity: 0.7;
          }

          &:active {
            opacity: 1;
          }
        }

        .h-content-card-wrapper {
          width: 95%;
          height: 100%;
          margin: 20px auto;
          display: flex;
          flex-direction: column;

          .h-content-card {
            width: 100%;
            margin: 10px 0;
            transition: .6s;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            background-color: white;
            position: relative;
            z-index: 10;

            &:hover {
              //cursor: pointer;
              box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
            }

            .img {
              width: 98%;
              height: 20em;
              z-index: 99;
              transition: .6s;
              margin: 0 auto;
              padding-top: 10px;

              &:active {
                width: 100%;
                height: 35em;
                transform: translateY(-30px);
              }
            }

            .info-wrapper {
              flex: 1;
              display: flex;
              flex-direction: column;

              .left {
                width: 100%;
                overflow: hidden;

                .title {
                  width: 100%;
                  text-align: left;
                  font-size: 2.5em;
                  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
                  font-weight: bolder;
                  border-bottom: 1px solid silver;
                  padding: .6em;

                  user-select: text;
                  z-index: 999999;
                  position: relative
                }

                .extra-Info-wrapper {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  font-size: .8em;
                  border-top: solid 1px silver;
                  padding: 1.2em;

                  & > div {
                    margin-left: 30px;
                    font-size: 1.2em;
                    color: rgba(195, 195, 185, 1);
                    z-index: 999;

                    &:hover {
                      color: #409eff;
                    }
                  }

                  .view > .svg-icon {
                    font-size: 1.4em;
                  }

                  .svg-icon {
                    margin-right: 8px;
                  }

                  .reading {
                    flex: 1;
                    text-align: right;
                    z-index: 999;

                    span {
                      transition: .6s;
                      cursor: pointer;

                      &:hover {
                        color: #409eff;
                      }
                    }
                  }
                }
              }

              .detail {
                width: 95%;
                text-indent: 2em;
                padding: 1em;
                margin: 0 auto;
                line-height: 2em;

                span {
                  -webkit-line-clamp: 3;
                  line-clamp: 3;
                  color: rgba(0, 0, 0, 0.7);
                  font-family: Cambria;
                  position: relative;
                  z-index: 9999;
                }
              }
            }
          }
        }
      }

    }
  }

  .h-footer-wrapper {
    position: relative;
    z-index: 10;
    user-select: text;
    width: 100%;
    padding-bottom: 20px;
    background-color: #24587A;
    border-top: 1px solid #e3e8f7;

    .footer-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(185, 185, 185);


      & > div {
        margin-top: 5px;
      }

      .website {
        display: flex;
        align-items: center;

        & > svg {
          width: 1.2em;
          height: 1.2em;
          margin-left: 5px;
        }
      }

      .permit {
        display: flex;
        align-items: center;

        & > img {
          margin-right: 10px;
        }

      }
    }
  }
}