.text-ellipse {
  overflow: hidden;
  display: -webkit-box;
  //-webkit-line-clamp: 6;
  //line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.forbid-select-text {
  // 文字不可选择
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}